absl-py
asgiref
astunparse
cachetools
certifi
charset-normalizer
Django
django-cors-headers
djangorestframework
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
gunicorn
h5py
idna
imageio
keras
lazy_loader
libclang
Markdown
MarkupSafe
ml-dtypes
networkx
numpy
oauthlib
opencv-python
opt-einsum
packaging
Pillow
protobuf
pyasn1
pyasn1-modules
pytz
requests
requests-oauthlib
rsa
scikit-image
scipy
six
sqlparse
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
tifffile
typing_extensions
urllib3
Werkzeug
whitenoise
wrapt